$primaryColor: orange; 
$secondaryColor: #d7deff;
$menuColor: orange;
$background: #f7f3ea;
$dpink: gold;

$fontColor: #333;

$defaultFont: "Roboto", sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 16px;